@font-face {
    font-family: Handwriting;
    src: url("fonts/Handwriting2.otf") format("opentype");
}

:root {
    --main-bg-color: #dad1c6;
    --main-text-color: #1d1710;
}

@media (prefers-color-scheme: dark) {
    :root {
        --main-text-color: #f2eee8;
        --main-bg-color: #251d15;
    }

    .svgInvertBefore::before {
        filter: invert();
    }

    .svgInvert {
        filter: invert();
    }

    .textured {
        background-image: url('images/paper-texture-dark.jpg') !important;
        background-blend-mode:screen !important;
    }
}

body {
    width: 100vw;
    margin: 0;
    display: inline-block;
    font-family: Handwriting;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    font-size: 26pt;
    line-height: 33pt;
    transition: background-color 0.4s ease, color 0.4s ease;
}

body::-webkit-scrollbar {
    display: none;
}

*:focus-visible {
    border: 2px solid blue !important;
    outline: 3px solid white !important;
}

.skip-link {
    position: fixed;
    top: 12px;
    left: 12px;
    padding: 12px;
    background: black;
    color: white;
    z-index: 10000;
    border: none;

    transform: translateY(-200%);
    transition: transform 120ms ease;
}

.skip-link:focus,
.skip-link:focus-visible {
    transform: translateY(0);
    outline: 3px solid #fff;
}

#mainTitle {
    position: fixed;
    left: 50%;
    top: 45vh;
    transform: translate(-50%, -30%);
    font-size: 140pt;
    line-height: 110pt;
    white-space: nowrap;

    width: max-content;
    max-width: 90vw;
    text-wrap: wrap;
    text-align: center;
    z-index: 3;

    transition:
        color 0.25s ease-out,
        left 0.4s ease-out,
        top 0.4s ease-out,
        transform 0.4s ease-out,
        font-size 0.4s ease-out,
        line-height 0.4s ease-out;
}

#mainTitle[scrolled="yes"] {
    left: 45.4px;
    top: 18.3px;
    transform: translate(0, 0);
    font-size: 20pt;
    line-height: 1;
    color: #dad1c6;
}

/* SAFARI ONLY */
@supports (font: -apple-system-body) {
    #mainTitle {
        transition:
            color 0.25s ease-out,
            left 0.25s ease-out,
            top 0.25s ease-out,
            transform 0.25s ease-out;

        transform-origin: top left;
        transform: translate(-50%, -30%) scale(1);

        line-height: 1 !important;
    }

    #mainTitle[scrolled="yes"] {
        left: 45.4px;
        top: 18.3px;

        transform: translate(0, 0) scale(0.1428571429);

        font-size: 140pt;
        line-height: 1 !important;
        max-width: none;
    }
}


#titleBackground {
    position: fixed;
    height: 40pt;
    font-size: 20pt;
    line-height: 50pt;
    padding: 0 24pt 7pt 12pt;
    z-index: 2;
    color: #dad1c6;
    background-image: url('images/nav.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    transform-origin: top left;
    transform: translate(-200px, -40px) rotate(-100deg);
    transition: transform 0.3s ease-out;
    color: transparent;
}

#titleBackground[scrolled="yes"] {
    transform: translate(0, -1pt) rotate(0deg);
}

#logo {
    height: 24pt;
    object-fit: contain;
    transform: translate(0, 5pt);
}


#container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 65vh;
    width: 55%;
    margin-bottom: 10vh;
    position: relative;
}

.paper {
    position: relative;
    width: 600px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 781 / 1030;

    color: var(--main-text-color);
    z-index: 1;
}

.paperContent {
    padding: 17% 13% 6% 18%;
}

.paper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-image: url("images/paper_drawing.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    transition: filter 0.4s ease;
    z-index: -1;
}

.large {
    font-size: 50pt;
    line-height: 80pt;
}

.spacer {
    height: 1em;
}

p {
    margin: 0;
}

a {
    color: #66c2ff;
    text-decoration: wavy underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}



.sticky-row {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 30px;
}

.stickyDiv {
    display: block;
    position: relative;
    aspect-ratio: 86.302 / 72.24;
    color: var(--main-bg-color);
    z-index: 1;
}

.stickyDiv span {
    padding: 15px 20px 15px 10px;
    box-sizing: border-box;
    text-align: center;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.stickyDiv span div {
    margin-bottom: 0.4rem;
    flex: 0 0 auto;
}

.stickyDiv::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    mask-image: var(--mask);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: contain;
    z-index: -1;
}

.nodecorate {
    text-decoration: none;
}

.stickyDiv span img {
    flex: 1 1 0;
    width: max-content;
    min-height: 0;
    max-height: 50%;
    object-fit: contain;
    display: block;
}

.redSticky::before {
    background-color: rgb(195, 60, 67);
}

.orangeSticky::before {
    background-color: rgb(176, 81, 13);
}

.greenSticky::before {
    background-color: rgb(57, 116, 42);
}

.blueSticky::before {
    background-color: rgb(13, 104, 156);
}

.purpleSticky::before {
    background-color: rgb(133, 79, 180);
}



.hidden {
    display: none !important;
}

.char {
    opacity: 0;
    transition: opacity 0s;
}

.graphic-image1,
.graphic-image2,
.graphic-image3,
.graphic-image4 {
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}

.graphic-image1 {
    -webkit-mask-image: url('images/image-clip1.svg');
    mask-image: url('images/image-clip1.svg');
}

.graphic-image2 {
    -webkit-mask-image: url('images/image-clip2.svg');
    mask-image: url('images/image-clip2.svg');
}

.graphic-image3 {
    -webkit-mask-image: url('images/image-clip3.svg');
    mask-image: url('images/image-clip3.svg');
}

.graphic-image4 {
    -webkit-mask-image: url('images/image-clip4.svg');
    mask-image: url('images/image-clip4.svg');
}

.fade-in {
    opacity: 0;
    animation: fadeInAnim 2s ease 0.3s forwards;
}

@keyframes fadeInAnim {
    to {
        opacity: 1;
    }
}

.contact-link {
    display: block;
    text-align: center;
    width: 100%;
    color: var(--main-bg-color);
    font-weight: bold;
    padding: 18px 14px 12px 14px;
    text-decoration: none;
    background-image: url('images/button.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    font: inherit;
    margin-top: 20px;
    box-sizing: border-box;
}


@media (max-width: 1100px) {
    #container {
        width: 90vw;
        margin-left: 5vw;
        margin-right: 0;
    }
}

@media (max-width: 600px) {
    #mainTitle {
        font-size: 70pt;
        line-height: 80pt;
    }

    body {
        width: 90vw;
        font-size: 18pt;
        line-height: 26pt;
    }

    .large {
        font-size: 34pt;
        line-height: 40pt;
    }

    .sticky-row {
        display: grid;
        flex-wrap: wrap;
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 20px;
    }
}

.typewritten {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 30px;
    font-size: 16pt;
}

.typewritten-btn,
.typewritten #mainTitle,
.typewritten .large,
.typewritten .stickyDiv,
.typewritten .contact-link {
    font-family: "Libre Baskerville", serif;
    font-weight: 600;
}

.textured {
    background-image: url('images/paper-texture.jpg');
    background-blend-mode:multiply;
    background-size: auto; /* use natural size so it tiles cleanly */
    background-repeat: repeat;
}
