@font-face {
    font-family: Handwriting;
    src: url("fonts/Handwriting2.otf") format("opentype");
}
:root {
    --main-bg-color: #e7dfd4;
    --main-text-color: #111;
}
@media (prefers-color-scheme: dark) {
    :root {
        --main-text-color: #f2eee8;
        --main-bg-color: #2c261f;
    }
    .svgInvertBefore::before {
        filter: invert();
    }
    .svgInvert {
        filter: invert();
    }
}
body {
    width:100vw;
    margin:0;
    display:inline-block;
    font-family: Handwriting;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
    font-size: 26pt;
    line-height: 33pt;
    transition: background-color 0.4s ease, color 0.4s ease;
}
body::-webkit-scrollbar {
    display: none;
}
#mainTitle {
    position: fixed;
    left: 50%;
    top: 45vh;
    transform: translate(-50%, -30%);
    font-size: 140pt;
    line-height: 110pt;
    white-space: nowrap;

    width: max-content;
    max-width: 90vw;
    text-wrap: wrap;
    text-align: center;
    z-index: 3;

    transition:
        color      0.25s ease-out,
        left       0.4s ease-out,
        top        0.4s ease-out,
        transform  0.4s ease-out,
        font-size  0.4s ease-out,
        line-height 0.4s ease-out;
}
#mainTitle[scrolled="yes"] {
    left: 45.4px;
    top: 18.3px;
    transform: translate(0, 0);
    font-size: 20pt;
    line-height: 1;
    color: white;
}
/* SAFARI ONLY */
@supports (font: -apple-system-body) {
    #mainTitle {
        transition:
            color      0.25s ease-out,
            left      0.25s ease-out,
            top       0.25s ease-out,
            transform 0.25s ease-out;

        transform-origin: top left;
        transform: translate(-50%, -30%) scale(1);

        line-height: 1 !important;
    }

    #mainTitle[scrolled="yes"] {
        left: 45.4px;
        top: 18.3px;

        transform: translate(0, 0) scale(0.1428571429);

        font-size: 140pt;
        line-height: 1 !important;
        max-width: none;
    }
}


#titleBackground {
    position:fixed;
    height:40pt;
    font-size: 20pt;
    line-height: 50pt;
    padding: 0 24pt 7pt 12pt;
    z-index: 2;
    color: #f2eee8;
    background-image: url('images/nav.svg');
    background-size: 100% 100%; /* Stretch to fit both dimensions */
    background-repeat: no-repeat;
    background-position: center;
    transform-origin: top left;
    transform: translate(-200px, -40px) rotate(-100deg);
    transition: transform 0.3s ease-out;
    color: transparent;
}
#titleBackground[scrolled="yes"] {
    transform: translate(0, -1pt) rotate(0deg);
}
#logo {
    height: 24pt;
    object-fit: contain;
    transform: translate(0,5pt);
}


#container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top:65vh;
    width: 55%;
    margin-bottom: 10vh;
    position: relative;
}
.paper {
    position: relative;
    width: 600px;
    max-width: 100%;
    /* padding: 15% 18% 5% 25%; */
    margin-left: auto;
    margin-right: auto;
    aspect-ratio: 781 / 1030;

    /* text styles */
    color: var(--main-text-color);
    z-index: 1;            /* make sure the text is on top */
}
.paperContent {
    padding: 17% 13% 6% 18%;
}

.paper::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;

    /* background SVG */
    background-image: url("images/paper_drawing.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;

    transition: filter 0.4s ease;
    /* only hue-shift the pseudo-element */
    z-index: -1; /* place it behind the content */
}
.large {
    font-size: 50pt;
    line-height: 80pt;
}
.spacer {
    height: 1em;
}
p {
    margin: 0;
}
a {
    color: #66c2ff;/*#c6e8ff*/
    text-decoration: wavy underline;
    text-decoration-thickness: 2px; /* Adjust the thickness as desired */
    text-underline-offset: 3px;     /* Optional: adjusts the gap between text and underline */
}



.sticky-row {
  display: grid;
  flex-wrap: wrap;   /* allows sticky notes to wrap onto new lines if screen is too narrow */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;         /* space between sticky notes */
  margin-top: 30px;
}

.stickyDiv {
  display: block;
  position: relative;
  aspect-ratio: 86.302 / 72.24;
  color: var(--main-bg-color);
  z-index: 1;
}
.stickyDiv span {
  padding: 15px 20px 15px 10px;
  box-sizing: border-box;
  text-align: center;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.stickyDiv span div {
  margin-bottom: 0.4rem;
  flex: 0 0 auto;
}

.stickyDiv::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-image: url("images/sticky_note.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  z-index: -1;
}

.nodecorate {
  text-decoration: none;
}

.stickyDiv span img {
  flex: 1 1 0;
  width: max-content;
  min-height: 0;
  max-height: 50%;
  object-fit: contain;    /* use 'cover' if you want it to crop instead */
  display: block;
}
.redSticky::before {
    filter: hue-rotate(0deg);
}
.orangeSticky::before {
    filter: hue-rotate(40deg);
}
.greenSticky::before {
    filter: hue-rotate(90deg);
}
.blueSticky::before {
    filter: hue-rotate(240deg);
}
.purpleSticky::before {
    filter: hue-rotate(280deg);
}



.hidden {
    display: none !important;
}
.char {
    opacity: 0;
    transition: opacity 0s; /* no animation unless you want one */
}

.graphic-image1, .graphic-image2, .graphic-image3, .graphic-image4 {
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
}
.graphic-image1 {
    -webkit-mask-image: url('images/image-clip1.svg');
    mask-image: url('images/image-clip1.svg');
}
.graphic-image2 {
    -webkit-mask-image: url('images/image-clip2.svg');
    mask-image: url('images/image-clip2.svg');
}
.graphic-image3 {
    -webkit-mask-image: url('images/image-clip3.svg');
    mask-image: url('images/image-clip3.svg');
}
.graphic-image4 {
    -webkit-mask-image: url('images/image-clip4.svg');
    mask-image: url('images/image-clip4.svg');
}

.fade-in {
  opacity: 0;
  animation: fadeInAnim 2s ease 0.3s forwards;
}

@keyframes fadeInAnim {
  to { opacity: 1; }
}

.contact-link {
    display: block;
    text-align: center;
    width: 100%;
    color: white;
    font-weight: bold;
    padding: 14px;
    text-decoration: none;
    background-image: url('images/button.svg');
    background-size: 100% 100%; /* Stretch to fit both dimensions */
    background-repeat: no-repeat;
    background-position: center;
    border:none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    font: inherit;
    margin-top:20px;
    box-sizing: border-box;
}


@media (max-width: 1100px) {
    #container {
        width: 90vw;
        margin-left: 5vw;
        margin-right: 0;
    }
}

@media (max-width: 600px) {
    #mainTitle {
        font-size: 70pt;
        line-height: 80pt;
    }
    body {
        width: 90vw;
        font-size: 18pt;
        line-height: 26pt;
    }
    .large {
        font-size: 34pt;
        line-height: 40pt;
    }
    .sticky-row {
        display: grid;
        flex-wrap: wrap;   /* allows sticky notes to wrap onto new lines if screen is too narrow */
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 20px;         /* space between sticky notes */
    }
}